<article class="shelf-card">
  <div class="shelf-card__top">
    <span class="shelf-card__authors">{{ delimit .Params.authors ", " | default "Unknown" }}</span>
    {{- with .Params.year }}
      <span class="shelf-card__year">{{ . }}</span>
    {{- end }}
  </div>

  <a href="{{ .RelPermalink }}" class="shelf-card__title">{{ .Title }}</a>

  {{- with .Params.summary }}
    <p class="shelf-card__summary">{{ . }}</p>
  {{- end }}

  <div class="shelf-card__footer">
    {{- with .Params.paperURL }}
      <a href="{{ . }}" class="shelf-card__link" target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/></svg>
        Paper
      </a>
    {{- end }}
    {{- with .Params.relatedPost }}
      <a href="{{ . | relURL }}" class="shelf-card__link shelf-card__link--related">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101"/></svg>
        My Post
      </a>
    {{- end }}
    {{- with .Params.tags }}
      {{- range first 2 . }}
        <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}" class="tag-pill">{{ . }}</a>
      {{- end }}
    {{- end }}
  </div>
</article>
